h1{
    text-align: center;
}
input{
    width: 100%;
}
main{
    width: 100%;
   
}
article{
    border: solid 1px #999;
    width: 100%;
    margin: 5px;
}
ul{
    display: flex;
    
}
a{
text-decoration: none;
background: #486;
padding: 10px;
color:#fff;
}
